.logo{
    background:#01052c;
    width:100vw;
    height:100vh;
    background-image: url("./Imagen/gun-monopoly-hacking-dedsec-monochrome-wallpaper-preview.jpg");
    background-size:cover;

 }
.bg-attach{
    background-image: url("./Imagen/gun-monopoly-hacking-dedsec-monochrome-wallpaper-preview.jpg");
    background-attachment: fixed;
}